.nav-pill-parent {

}

.nav-pill-button {
  color: $forecast-nav-pill-text !important;
  background-color: $forecast-nav-pill-background;

  &.active {
    color: $forecast-nav-pill-text-active !important;
    background-color: $forecast-nav-pill-background-active !important;
    &:hover {
      color: $forecast-nav-pill-text-active-hover !important;
      border: none;
    }
  }

  &:hover {
    color: $forecast-nav-pill-text-hover !important;
    border: none;
  }
}