.bottom-area-text {
  font-size: $font-size-large;
  margin-top: 0;
}



.bottom-map-area {
  background-color: $bottom-map-area-fill;
  height: 5%;
  text-align: center;

  .bottom-area-text {
    font-size: $font-size-large;
    color: $bottom-map-area-text;
  }
}