{% from "elements/forecast/forecast_section_single_day_macros.html" import render_day_data %}


{% macro render_days_pills(passed_days) %}
    <nav class="nav nav-tabs nav-fill nav-pill-parent" id="forecast_table_tabs" role="tablist">
        {% for single_day in passed_days %}
            {% if loop.index == 1 %}
                {{ render_single_day_pill(single_day, True) }}
            {% else %}
                {{ render_single_day_pill(single_day, False) }}
            {% endif %}
        {% endfor %}
    </nav>
{% endmacro %}


{% macro render_single_day_pill(single_day, is_first) %}
    <button class="nav-link{% if is_first %} active{% endif %} nav-pill-button" data-bs-toggle="tab"
            data-bs-target="#single-day-{{ single_day.value }}" type="button" role="tab" aria-controls="nav-home"
            aria-selected="{% if is_first %}true{% else %}false{% endif %}">{{ single_day.get_day_name() }}
    </button>
{% endmacro %}


{% macro render_days_container(passed_days) %}
    <div class="tab-content" id="forecast_table">
        {% for single_day in passed_days %}
            {% if loop.index == 1 %}
                {{ render_single_day(single_day, True) }}
            {% else %}
                {{ render_single_day(single_day, False) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}


{% macro render_single_day(single_day, is_first) %}
    <div class="tab-pane fade{% if is_first %} in show active{% endif %}" id="single-day-{{ single_day.value }}"
         role="tabpanel">
        {{ render_day_data(single_day) }}
    </div>
{% endmacro %}
