{% macro render_weather_icon(weather_icon) %}
    <div class="weather-icon-container">
        {{ weather_icon | safe }}
    </div>
{% endmacro %}


{% macro render_temperature(temperature) %}
    <div class="temperature-container">
        <p class="temperature-text">{{ temperature }}°C</p>
    </div>
{% endmacro %}

{% macro render_humidity(humidity_icon) %}
    <div class="humidity-container">
        <p class="humidity-text">
            {{ humidity_icon | safe }}
        </p>
    </div>
{% endmacro %}

{% macro render_rain(rain_chance_icon) %}
    <div class="rain-container">
        <p class="rain-text">
            {{ rain_chance_icon | safe }}
        </p>
    </div>
{% endmacro %}


{% macro render_wind_speed(speed_icon, speed) %}
    <div class="wind-container">
        {{ speed_icon | safe }}
    </div>
    <div class="wind-text-container">
        {{ speed }}mph
    </div>
{% endmacro %}

