@import "../molecules/forecast";
@import "../molecules/forecast/forecast_grid_blocks";

.forecast-aside {
  width: 100%;
  background-color: $forecast-aside-background-color;
}

.forecast-days-section { // The section where the pilled table is stored
  background-color: $forecast-all-day-container-fill;
}

.datapoint-container {
  display: grid;
  color: white;
  border-bottom: solid;
  row-gap: 0;
  grid-template-columns: 9em;
}