@import "../molecules/forecast";
@import "../molecules/forecast/forecast_grid_blocks";

.forecast-aside {
  min-width: 500px;
  width: 30%;
  background-color: $forecast-aside-background-color;
  border-left: $forecast-aside-border;
}

.forecast-days-section { // The section where the pilled table is stored
  background-color: $forecast-all-day-container-fill;
}

.tab-pane{
  overflow:auto;
  height: 100%;
}