@import "../molecules/navbar";

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $navbar-background;
  align-content: center;
}