html,
body {
  font-family: $font-family-base;
  height: 100%;
  margin: 0;
}

.parent-div {
  bottom: 0;
  height: 95%;

  @media only screen and (max-width: $medium-screen-width) {
    height: 93%;
  }

  @media only screen and (max-width: $small-screen-width) {
    height: 90%;
  }
}