{% macro render_navbar() %}
    <nav class="navbar">
        <div class="nav-title-parent">
            <p class="nav-title">Datapoint Forecast Visualizer</p>
            <a class="nav-link" href="https://github.com/DavidWindham">David Windham - Github</a>
        </div>
{#        <div class="nav-credit-links">#}
{#            <a class="nav-link" href="https://www.metoffice.gov.uk/services/data/datapoint">Datapoint API</a>#}
{#            <a class="nav-link" href="https://github.com/erikflowers/weather-icons">ErikFlowers Weather Icons</a>#}
{#            <a class="nav-link" href="https://martinjc.github.io/UK-GeoJSON">Martinjc UK-TopoJSON</a>#}
{#            <a class="nav-link" href="https://parlvid.mysociety.org/os/">Postcode OS Data</a>#}
{#        </div>#}
    </nav>
{% endmacro %}
