.forecast-location-name {
  @include center-text;
  background-color: $forecast-location-name-background;
  color: $forecast-location-name-color;
}

.forecast-single-point-time {
  @include center-text;
  fill: $forecast-date-background-fill;
  color: $forecast-date-text;
  font-size: $font-size-large;
}