{% from "elements/forecast_section_single_element_macros.html" import render_weather_icon, render_temperature, render_wind_speed, render_humidity_and_rain %}

{% macro render_day_data(passed_day) %}
    {% for single_time_point in passed_day.points %}
        {{ render_datapoint(single_time_point) }}
    {% endfor %}
{% endmacro %}

{% macro render_datapoint(passed_point) %}
    <div class="row forecast-day-container">
        <div class="col-md-2 forecast-single-point-time">{{ passed_point.get_hour() }}</div>
        <div class="col-md-10 forecast-elements-container">
            <div class="row">
                {{ render_weather_icon(passed_point.get_weather_icon()) }}
                {{ render_temperature(passed_point.temperature) }}
                {{ render_humidity_and_rain(passed_point.screen_relative_humidity, passed_point.precipitation_probability) }}
                {{ render_wind_speed(passed_point.get_windspeed_icon(), passed_point.wind_speed) }}
            </div>
        </div>
    </div>
{% endmacro %}