.forecast-area-parent {
  background-color: $forecast-all-day-container-fill;
  padding: 0 !important;
}

.forecast-data-section {
  background-color: $forecast-all-day-container-fill;
  color: white
}

.forecast-location-name{
  @include center-text;
  color: white;
}

.forecast-all-days-container {
  fill: $forecast-all-day-container-fill;
  margin-right: 0;

  .row {
    margin-right: 0;
  }
}

.forecast-day-container {
  margin: 0;
  fill: $forecast-day-container-fill;
}

.forecast-single-container {
  fill: $forecast-element-container-fill;
}

.forecast-single-point-time {
  @include center-text;
  fill: $forecast-date-background-fill;
  color: $forecast-date-text;

  font-size: $font-size-large;
}

.forecast-single-point-weather-icon {
  @include center-text;
}

.forecast-single-point-temperature {
  @include center-text;
  font-size: $font-size-large;
}

.forecast-humidity-rainchance-combo {
  @include center-text;
}

.forecast-single-point-humidity {
  @include center-text;

  .humidity-icon {

  }
}

.forecast-single-point-rainchance {
  @include center-text;
}

.forecast-single-point-windspeed {
  @include center-text;

  .windspeed-icon {

  }

  .windspeed-text {

  }
}