.nav-title {
  color: white;
  font-size: $font-size-large;
  margin: 0;
}

.nav-link {
  @include hover-color-transition();
  color: $navbar-link-base-text-color !important;
  font-size: $font-size-medium;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;

  text-decoration: none;

  &:hover {
    color: $navbar-link-base-text-color-hover !important;
  }
}
