{% from "navbar/navbar.html" import render_navbar %}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/weather-icons.min.css') }}">

    {% block external_script_block %}{% endblock %}

    <head>
        <meta charset="UTF-8">
        {% block head %}
        {% endblock %}
        <title>{% block title %}Title{% endblock %}</title>
    </head>

    {{ render_navbar() }}

    <body>
        {% block body %}{% endblock %}
    </body>
</html>

{% block scripts %}
{% endblock %}
