<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/weather-icons.min.css') }}">
    {% block external_script_block %}{% endblock %}

    <head>
        <meta charset="UTF-8">
        {% block head %}
        {% endblock %}
        <title>{% block title %}Title{% endblock %}</title>
    </head>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <p class="navbar-title">Datapoint Forecast Visualizer</p>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link">by David Windham</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/DavidWindham">Github</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.metoffice.gov.uk/services/data/datapoint">Datapoint API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/erikflowers/weather-icons">ErikFlowers Weather Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://martinjc.github.io/UK-GeoJSON">Martinjc UK-TopoJSON</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <body>
        <div class="container-fluid main-container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>

{% block scripts %}
{% endblock %}
