@import "../atoms/forecast/forecast";
@import "forecast/nav_pills";
@import "forecast/postcode";
@import "forecast/point_selection";

.datapoint-container {
  display: grid;
  color: white;
  border-bottom: solid #C8D5B9;
  row-gap: 0;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
