@import "../atoms/forecast/forecast";
@import "../molecules/forecast/nav_pills";

.datapoint-container {
  display: grid;
  color: white;
  border-bottom: solid #C8D5B9;
  row-gap: 0;
  grid-template-columns: 9em;

  @media only screen and (max-width: $large-screen-width) {
    grid-template-columns: 5em;
  }
}