@import "../atoms/map/map";
@import "../atoms/map/bottom_section";

.map-area {
  background-color: $map-area-background;
  //height: 90%
}

.map-bottom-area {
  @include center-text;
  background-color: $bottom-map-area-fill;
  height: 10%;
  min-height: 10%;
}
