@import "../atoms/navbar";

.nav-title-parent {
  display: flex;
  align-content: center;
  padding: 1rem;
}

.nav-credit-links {
  display: flex;
  align-content: center;
}

.nav-left-links {
  display: flex;
  align-content: center;
}