$small-screen-width: 700px;
$medium-screen-width: 1100px;
$large-screen-width: 1300px;

$navbar-background: #050B0F;
$navbar-border: solid #F06449;

$navbar-link-base-text-color: #68B0AB;
$navbar-link-base-text-color-hover: #F06449;

$map-area-background: #90b8cf;
$map-path-fill: #C8D5B9;
$map-path-stroke: #424C55;
$map-path-fill-hover: #68B0AB;

$bottom-map-area-fill: #424C55;
$bottom-map-area-text: #C8D5B9;

$forecast-station-fill: #F06449;
$forecast-station-hover: #524632;
$forecast-station-selected: #820B8A;

$forecast-aside-background-color: #1B263B;
$forecast-aside-border: solid #050B0F;

$forecast-info-postcode-background: #424C55;
$forecast-info-postcode-color: white;

$postcode-input-text-color: #F06449;
$postcode-input-background: #f5f3f4;
$postcode-submit-background: #F06449;
$postcode-submit-color: #f5f3f4;

$postcode-border-radius: 0.3rem;

$forecast-location-name-background: #1B263B;
$forecast-location-name-color: #F06449;

$forecast-all-day-container-fill: #1B263B;
$forecast-day-container-fill: red;
$forecast-element-container-fill: #f4f3ee;
$forecast-date-background-fill: #660708;
$forecast-date-text: #f5f3f4;

$forecast-nav-pill-background: #1B263B;
$forecast-nav-pill-text: #8FC0A9;
$forecast-nav-pill-text-hover: #F06449;
$forecast-nav-pill-background-active: #424C55;
$forecast-nav-pill-text-active: #F06449;
$forecast-nav-pill-text-active-hover: #F06449;

$time-color: #EBF0E6;
$time-background: #424C55;
