$map-area-background: #E3E4E0;
$map-path-fill: #C6CCD0;
$map-path-stroke: #0D1B2A;
$map-path-fill-hover: #5C7490;

$bottom-map-area-fill: #D3D7D7;
$bottom-map-area-text: #0D1B2A;

$forecast-station-fill: red;
$forecast-station-hover: blue;
$forecast-station-selected: white;


$forecast-all-day-container-fill: #1B263B;
$forecast-day-container-fill: red;
$forecast-element-container-fill: #f4f3ee;
$forecast-date-background-fill: #660708;
$forecast-date-text: #f5f3f4;


$navbar-link-base-text-color: grey;
$navbar-link-base-text-color-hover: white;
